{% for section in site.sections %}
    {% assign attr = section[0] %}
    {% assign label = section[1] %}
    {% assign items = site.categories[attr] | sort:'order' %}

    <h4 class="menu-section-header">
        {{ label }}
    </h4>
    <ul>
    {% for item in items %}
        <li>
            <a
                href="{{ site.baseurl }}{{ item.url }}"
                class="{% if page.url == item.url %}active{% endif %}"
            >
                {{ item.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
